@using ALEXFW.DataAccess
@using ALEXFW.Entity

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Admin/Content/admin_style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;">
    <div style="padding: 50px 0 20px 0">
        @RenderBody()
    </div>
</body>
</html>